$cat-food-width: 1280px;
$cat-food-height: 680px;

$stock-width: 100%;
$stock-height: auto;

$package-width: 320px;
$package-height: 509px;

$back-width: 320px;
$back-height: 480px;

$packages-desktop: 3;
$packages-tablet: 2;

$defaultColor: #1698d9;
$defaultHoverColor: #2EA8E6;
$selectedHoverColor: #E52E7A;
$selectedColor: #D91667;
$disabledColor: #B3B3B3;